/* _arch-vars-start */
$alert-color: rgba(255,0,0,1);
$base-color: rgba(200,108,82,1);
$font-family: "Nanum Gothic";
$page-bg-color: rgba(200,108,82,1);
$form-field-height: 0.7em;
$form-bg-color: rgba(207,202,200,1);
$form-dark: rgba(0,0,0,1);
$form-light: rgba(234,234,234,1);
$toolbar-base-color: rgba(200,108,82,1);

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
/*학습카드 뒤집어 보는 것과 관련된 스타일*/
.flip {
  -webkit-perspective: 800;
   width: 16em;
   height: 22em;
    position: relative;
    margin: 1%;
    //margin-top: 1%;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-size: 3em;
  text-align: center;
  //line-height: 1em;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
    background: #505050;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: white;
    color: #505050;
    cursor: pointer;
    border-radius: 0.5em;
}
.flip .card .btitle{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 3em;
    text-align: center;
   // line-height: 1.5em;
}
.flip .card .title{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 1.5em;
}
/**2word over*/
.flip .card .title2{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 2.3em;
    text-align: center;
    line-height: 2em;
}
/**3word over*/
.flip .card .title3{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 1.7em;
    text-align: center;
    line-height: 3em;
}
/**4word over*/
.flip .card .title4{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 1.3em;
    text-align: center;
   // line-height: 4em;
}
/***/
.flip .card .content{
  width: 100%;
  height: 30%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 0.5em;
    text-align: center;
   // line-height: 1.0em;
    text-overflow:ellipsis;
    overflow:hidden;
}

/*다른카드 보기에 들어가는 애기들*/
.stitched {
   display: inline-block;
   width: 7em;
   height: 10em;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: 50%;
   padding: 1em;
   margin: 0.5em;
   background-color: #fff;
   color: #fff;
   //font-size: 21px;
   font-weight: bold;
   //line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 0.5em;
   //box-shadow: 0 0 0 4px darken(saturate($base-color, 55%), 10%), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}



/*리본!*/
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/*메뉴 타이틀*/
.manuTitle{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-size: 3em;
  text-align: center;
  line-height: 2em;
}

flipFont1{
  margin-top : 0.3em;
  font-size : 1.5em;

}

flipFont2{
  font-size : 1em;

}

flipFont3{
  font-size : 0.5em;

}

.favoritesCheck {
  font-size:2.5em;
  position: relative;
  color: rgb(255, 203, 0);
  background-color: #ec6145;
  background-image: -webkit-linear-gradient(top, #f39c8a,#ef745c 3%,#ea4d2d);
  border: 1px solid;
  border-radius: 25px;
 }


.x-msgbox{
    border: 0.15em solid #ffffff;
    background-color: #1E1E1E;
}

.scaleup{
    transform: scale(2, 2);
}

.progressMain{
    margin-top:-1px;
    background-color:#c7c1bf;
    border-top:1px solid #a29c9a;
}

.progressNow{
    border: 0.15em solid #ffffff;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-size:1em;
}

.progressGood{
    background-color : #c86c52;
}

.progressBad{
    background-color : #505050;
}

.selectedGbtn{
    background-color : #c86c52 !important;
    color : #fff !important;
}

.selectedBbtn{
    background-color : #505050 !important;
    color : #fff !important;
}

.rankDesign{
    background-color : #f3eae8 !important;
}

.vote{
    background-color : rgba(43,43,43,0.7);
    background-image: url(../images/vote.png);
    background-position:center;
}

.examCheck{
    background-color : rgba(43,43,43,0.7);
    background-image: url(../images/check.png);
    background-position:center;
}

div  chinesespan4 {
    width:10%;    height:50%;    text-align:center;
    display:table-cell; vertical-align:middle;
    font-size:6em; font-weight:bold;
}
div  chinesespan3 {
    width:10%;    height:50%;    text-align:center;
    display:table-cell; vertical-align:middle;
    font-size:4.5em; font-weight:bold;
}
div  chinesespan2 {
    width:10%;    height:50%;    text-align:center;
    display:table-cell; vertical-align:middle;
    font-size:7em; font-weight:bold;
}
div  chinesespan1 {
    width:10%;    height:50%;    text-align:center;
    display:table-cell; vertical-align:middle;
    font-size:10em; font-weight:bold;
}

.x-field .x-field-input {
    position: relative;
    min-width: 1em !important;
}

.x-form-label {
    margin-left: 0em !important;
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.clickAnimation:active {
  -o-box-shadow: 2px 2px 19px #FFCC00;
  -webkit-box-shadow: 2px 2px 19px #FFCC00;
  -moz-box-shadow: 2px 2px 19px #FFCC00;
}

.backgroundCls{
    background-color: rgba(200,108,82,1);
}
footer {
    clear:both;
    overflow:hidden;
    font-size:16px;
    line-height:1.3;
}

footer-boxes {
    -moz-column-count:2;
    -moz-column-gap:10px;
    -webkit-column-count:2;
    -webkit-column-gap:10px;
    column-count:4;
    column-gap:10px;
}

.footer-box {
    width:95%;
    height:160px;
    padding:15px;
    background:#e6e2df;
    color:#b2aaa4;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    background-position:320px 50%;
    background-repeat:no-repeat;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow:5px 5px 2px #000000;
    -webkit-box-shadow:5px 5px 2px #000000;
    box-shadow:5px 5px 2px #000000;
}

.footer-box h5 {
    position: relative;
    font: bold 24px Sans-Serif !important;
    text-transform:uppercase;
    font-size:38px;
    line-height:1;
    padding:0 0 10px 0;
    text-shadow:0 0 4px rgba(0,0,0,0.4);
    color:white;
    width:100%;
}


.footer-box p {
    color:white;
    font-size:12px;
    width:175px;
    line-height:1.5;
}

.footer-box:hover {
    background-position:200px 50%;
}

#f-bookshelf {
    background-image:url(../resources/images/studenticon.png);
     background-color:#ff8400;
    background-position:center;
     color:#fff8da;
}
.learningStatusTable{
    margin-top:10px;
    height:250px;
     background-color:#ff8400;
    background-position:center;
     color:#fff8da;
}


#circleG{
width:149.33333333333334px;
}

.circleG{
background-color:#BDBDBD;
float:left;
height:32px;
margin-left:17px;
width:32px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.2000000000000002s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:21px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.2000000000000002s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:21px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.2000000000000002s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:21px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.2000000000000002s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:21px;
animation-name:bounce_circleG;
animation-duration:1.2000000000000002s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:21px;
}

#circleG_1{
-moz-animation-delay:0.24000000000000005s;
-webkit-animation-delay:0.24000000000000005s;
-ms-animation-delay:0.24000000000000005s;
-o-animation-delay:0.24000000000000005s;
animation-delay:0.24000000000000005s;
}

#circleG_2{
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#circleG_3{
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}
.writingSerchResult{
    margin: 0 1 0 1;
    padding: 4px 0 4px;
    border-top: 1px solid #bbb;
    background-color:#fff;
    color: #333;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    width: 75px;
}

.writingSerchResult:hover{
    background-color: #eee;
}
/*학습카드 뒤집어 보는 것과 관련된 스타일*/
.sflip {
  -webkit-perspective: 240;
   width: 8em;
   height: 11em;
   position: relative;
   margin: 5px;
}
.sflip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.sflip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.sflip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-size: 0.9em;
  text-align: center;
  //line-height: 1em;
}

.sflip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 0.3em;
}
.sflip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 0.3em;
}
.sflip .card .btitle{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 0.9em;
    text-align: center;
   // line-height: 1.5em;
}
.sflip .card .title{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 0.9em;
    text-align: center;
    line-height: 0.45em;
}
/**2word over*/
.sflip .card .title2{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 2.3em;
    text-align: center;
    line-height: 2em;
}
/**3word over*/
.sflip .card .title3{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 0.51em;
    text-align: center;
    line-height: 0.9em;
}
/**4word over*/
.sflip .card .title4{
    width: 100%;
  height: 70%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 0.39em;
    text-align: center;
   // line-height: 4em;
}
/***/
.sflip .card .content{
  width: 100%;
  height: 30%;
  position: relative;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 0.15em;
    text-align: center;
   // line-height: 1.0em;
    text-overflow:ellipsis;
    overflow:hidden;
}


/*리본!*/
.sribbon-wrapper-green {
  width: 40px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: -0.9px;
  right: -0.9px;
}

.sribbon-green {
  font: 0.1em Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 2.1px 0;
  left: -10px;
  top: 7px;
  width: 70px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 1px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 1px rgba(0,0,0,0.3);
}

.sribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   1px solid #6e8900;
  border-left:  1px solid transparent;
  border-right: 1px solid transparent;
  position:absolute;
  bottom: -1px;
}

.sribbon-green:before {
  left: 0;
}
.sribbon-green:after {
  right: 0;
}

/*메뉴 타이틀*/
.smanuTitle{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-size: 0.9em;
  text-align: center;
  line-height: 0.6em;
}

sflipFont1{
  margin-top : 0.1em;
  font-size : 0.45em;

}

sflipFont2{
  font-size : 0.3em;

}

sflipFont3{
  font-size : 0.15em;

}

/* ui mixin: custombtn for of type: sencha-button-ui */
$_arch_color: rgba(174,85,59,1);
@include sencha-button-ui(
  $ui-label:"custombtn",
    $color: $_arch_color,
    $gradient: $button-gradient
);
/* ui mixin: untitled-ui-4 for of type: sencha-button-ui */
$_arch_color: rgba(68,68,68,1);
@include sencha-button-ui(
  $ui-label:"untitled-ui-4",
    $color: $_arch_color,
    $gradient: $button-gradient
);
/* ui mixin: signup for of type: sencha-button-ui */
$_arch_color: rgba(79,79,79,1);
@include sencha-button-ui(
  $ui-label:"signup",
    $color: $_arch_color,
    $gradient: $button-gradient
);